.container {
  background: linear-gradient(45deg, #f6c44f, #a032c1);
  height: 100%;
  animation: colors 5s linear infinite;
  background-size: 200% 100%;
  animation-fill-mode: forwards;
}

.box {
  width: 100px;
  height: 100px;
  background-color: yellow;
  animation: opacitya 2s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes opacitya {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}